<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="XML importer demo">
    <meta name="author" content="Francisco Edno">

    <title>Towel - Demo XML Importer</title>
    {% block stylesheet %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('plugins/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/fileinput/css/fileinput.min.css') }}">
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Begin page content -->
{% block main %}
{% endblock %}

{% include 'includes/footer.twig' %}

{% block script %}
    <script src="{{ asset('plugins/jquery.min.js') }}"></script>
    <script src="{{ asset('plugins/fileinput/js/fileinput.min.js') }}"></script>
{% endblock %}
</body>
</html>
